@model IEnumerable<ProductionASP.Models.ProductIndexModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateProduct">Create New</a>
</p>
<img class="zoom" src="\Images\6e1iuo.jpg" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var p in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => p.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => p.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => p.Price)
            </td>
            <td>
                <img class="zoom" src="\Images\@p.Picture"/>
            </td>
            <td>
                <button><a asp-action="ConfirmationDelete" asp-route-id="@p.Id">Supprimer</a></button>
            </td>
            <td>
                <button><a asp-action="Modify" asp-route-id="@p.Id">Modifier</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
